<nav class="navbar-sugar fixed-top navbar-toggleable-sm navbar-inverse bg-primary tsp-brand-navbar p-2">

  <div class="hamburguer-menu" *ngIf="userLoaded$ | async">
    <div (click)="openSideBarMenu()">
      <i class="fa fa-bars" [ngClass]="{'fa-rotate-90': !isOpened }" aria-hidden="true"></i>
    </div>
  </div>

  <div class="flex-row d-flex">
    <a class="navbar-brand" href="#">{{label}}</a>
  </div>
  <div class="navbar-nav ml-auto" *ngIf="userLoaded$ | async">
    <li class="nav-item">
      <a class="nav-link" href="#" data-target="#myModal" data-toggle="modal">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i> {{ (fullUserName$ | async) }} </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/user/logout">
        <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
    </li>
  </div>
</nav>