// @import '../../../../scss/variables-legacy';
@import '../../../../scss/theme-variables';

.main-content {
    padding-top: 55px;
    position: relative;
    z-index: 0;

}
.page-content-wrapper {

    overflow-y: auto;
    height: calc( 100vh - 91px );

    // padding-left: 50px;
    transition: all 0ms;
    // animation: 0ms;
    &.sidebar-opened {
        padding-left: $sideBarsWidth;

        .main-content {
            z-index: 0;
        }

        &.pined {
            .main-content {
            z-index: 0;
            }
        }

        @media screen and (min-width: $break-large) {
            padding-left: $sideBarsWidthXL - 20px;

        }
    }
}