<div class="sidebar-wrapper "  [ngClass]="{'open': open}" id="sidebar-wrapper" role="navigation">
  
  <ul class="nav flex-column ">
    <li class="nav-item"><a class="nav-link active" routerLink="/welcome"><i class="fa fa-home" aria-hidden="true"></i> {{ "TSP_UI.SIDEBAR_COMP.COMMUM_MENU.HOME" | translate }}</a></li>
    <li class="nav-item "><a class="nav-link" href="#"><i class="fa fa-users" aria-hidden="true"></i> {{ "TSP_UI.SIDEBAR_COMP.COMMUM_MENU.ACCOUNT" | translate }}</a></li>
    <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-shield" aria-hidden="true"></i> {{ "TSP_UI.SIDEBAR_COMP.COMMUM_MENU.AUTORIZATION" | translate }}</a></li>
    <li class="nav-item "><a class="nav-link" href="#"><i class="fa fa-cogs" aria-hidden="true"></i> {{ "TSP_UI.SIDEBAR_COMP.COMMUM_MENU.ADVANCE_SETTINGS" | translate }}</a></li>

  </ul>

  <hr >

  <ul class="nav flex-column ">
    <div class="mb-2">Administration Menu</div>
    <li class="nav-item"><a class="nav-link" routerLink="/user/login"><i class="fa fa-sitemap" aria-hidden="true"></i> {{ "TSP_UI.SIDEBAR_COMP.ADMIN_MENU.ADMINISTRATOION_AREAS" | translate }} </a></li>
    <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-server" aria-hidden="true"></i> {{ "TSP_UI.SIDEBAR_COMP.ADMIN_MENU.APPLICATION_DOMAIN" | translate }}</a></li>
  </ul>
  <hr >
  
  <ul class="nav flex-column ">
  
    <li class="nav-item ">
      <div class="dropdown mt-1">
        <div class="mb-2">Administration area</div>
        <button class="btn btn-outline-primary btn-block dropdown-toggle mb-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           {{ "TSP_UI.SIDEBAR_COMP.ADMIN_AREA.ADMINISTRATOION_AREAS" | translate }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Sesame</a>
          <a class="dropdown-item" href="#">RECAST_AREA</a>
          <a class="dropdown-item" href="#">SAF</a>
        </div>
      </div>
    </li>
    
  </ul>

  <div class="version ">
    <small >version 3.0.0alpha</small>
  </div>

</div>