<div class="container">
  <div class="row justify-content-center ">
    <div class="col-sm-8 col-lg-6 ">
      <div class="card card-autenticatio mt-sm-5">

        <div class="card-header bg-primary text-white">
          {{ "LOGIN.LOGOUT_COMP.HEADER" | translate }}
        </div>
        <!-- CARD BLOCK -->
        <div class="card-block">
          <h6>{{ "LOGIN.LOGOUT_COMP.BLOCK_TITLE" | translate }}</h6>
        </div>
        <!-- END CARD BLOCK -->
      </div>
    </div>
  </div>
</div>
